-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :page_title do
  = pod_name

#page.container
  #content
    .row
      #header(style='left: 0; padding: 15px 0;')
        #login-link.btn(style='margin-right: 15px;')
          = link_to("Login", "users/sign_in")
    %br
    %br
    #getting-started(style='margin-top: 40px;')
      .row(style='text-align: center;')
        #banner
          %h1
            = t('.welcome_title')
          %p
            = t('.info_pod')
      .row
        %p
          = t('.have_fun')
