-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = javascript_include_tag :people
  :javascript
    Mentions.options.prefillMention = Mentions._contactToMention(#{@person.to_json});

- content_for :page_title do
  = @person.name
  
#section_header
  %h2
    = t('.title', :first_name => @person.first_name, :last_name => @person.last_name)

.span-6
  = render :partial => 'people/profile_sidebar', :locals => {:person => @person, :contact => @contact }

  - if user_signed_in? && @contact.persisted? && @contacts_of_contact.count > 0
    .span-5.last#contacts_of_contact
      .section.contact_pictures
        %h4
          = t('contacts', :count => @contacts_of_contact_count)
        - for person in @contacts_of_contact
          = person_image_link person
      - if @contacts_of_contact.count > 8
        %p.see_all= link_to t('.see_all'), person_contacts_path(@person)

.span-18.last
  .stream_container
    #scikon_profile
      %h3
        = t('.contact_data.title')
      .scikon_contact_card
        %table
          %tr
            %td= t('.contact_data.name')
            %td= scikon_profile.name
          %tr
            %td= t('.contact_data.email')
            %td= scikon_profile.email
          %tr
            %td= t('.contact_data.room')
            %td= scikon_profile.room_number
          %tr
            %td= t('.contact_data.phone')
            %td= scikon_profile.phone
          %tr
            %td= t('.contact_data.fax')
            %td= scikon_profile.fax
          %tr
            %td= t('.contact_data.homepage')
            %td= link_to(t('.contact_data.homepage'), scikon_profile.wobsite_url)
            
    #paginate
      %span.loader.hidden