-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = javascript_include_tag :people
  :javascript
    Mentions.options.prefillMention = Mentions._contactToMention(#{@person.to_json});

- content_for :page_title do
  = @person.name
  
.span-18.last
  .stream_container
    = render 'people/sub_header', :person => @person, :contact => @contact

    #scikon_profile.stream
      - @scikon_profile.publications each do |publication|
        = render :partial => 'scikon/publication', :locals => publication
        
    #paginate
      %span.loader.hidden