-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = javascript_include_tag :people
  :javascript
    Mentions.options.prefillMention = Mentions._contactToMention(#{@person.to_json});

- content_for :page_title do
  = @person.name
  
#section_header
  %h2
    = t('.title', :first_name => @person.first_name, :last_name => @person.last_name)

.span-6
  = render :partial => 'people/profile_sidebar', :locals => {:person => @person, :contact => @contact }

  - if user_signed_in? && @contact.persisted? && @contacts_of_contact.count > 0
    .span-5.last#contacts_of_contact
      .section.contact_pictures
        %h4
          = t('contacts', :count => @contacts_of_contact_count)
        - for person in @contacts_of_contact
          = person_image_link person
      - if @contacts_of_contact.count > 8
        %p.see_all= link_to t('.see_all'), person_contacts_path(@person)

.span-18.last
  .stream_container
    #scikon_profile
      %h3
        = t('.contact_data.title')
      .scikon_contact_card
        %table
          - if @scikon_profile.name != ', ' 
            %tr
              %td= t('.contact_data.name')
              %td= @scikon_profile.name
          - if @scikon_profile.email != ''
            %tr
              %td= t('.contact_data.email')
              %td= @scikon_profile.email
          - if @scikon_profile.room_number != ''
            %tr
              %td= t('.contact_data.room')
              %td= @scikon_profile.room_number
          - if @scikon_profile.phone != ''
            %tr
              %td= t('.contact_data.phone')
              %td= @scikon_profile.phone
          - if @scikon_profile.fax != ''
            %tr
              %td= t('.contact_data.fax')
              %td= @scikon_profile.fax
            %tr
              %td= t('.contact_data.homepage')
              %td= link_to(t('.contact_data.homepage'), @scikon_profile.wobsite_url)
              
      - if @scikon_profile.interests != ''
        %h3
          = t('.interests.title')
        .interests
          = @scikon_profile.interests
        %br
        %br
        
      - if @scikon_profile.lectures.size > 1
        %h3
          = t('.lectures.title')
        
        %table
          %tr
            %th= t('.lectures.lecture_link')
            %th= t('.lectures.type')
            %th= t('.lectures.number')
          - @scikon_profile.lectures.each do |k, lecture|
            %tr
              %td= link_to(lecture.title, lecture.link)
              %td= lecture.type
              %td= lecture.number
          - if @scikon_profile.lectures.size == 0
            = t('.lectures.no_lectures')
        %br
        %br
            
      - if @scikon_profile.previous_lectures.size > 1
        %h3
          = t('.lectures.previous_title')
        
        %table
          %tr
            %th= t('.lectures.lecture_link')
            %th= t('.lectures.type')
            %th= t('.lectures.number')
          - @scikon_profile.previous_lectures.each do |k, lecture|
            %tr
              %td= link_to(lecture.title, lecture.link)
              %td= lecture.type
              %td= lecture.number
          - if @scikon_profile.previous_lectures.size == 0
            = t('.lectures.no_previous_lectures')
        %br
        %br
          
      - if @scikon_profile.projects.size > 1
        %h3
          = t('.projects.title')
        %table
          %tr
            %th= t('.projects.project_link')
            %th= t('.projects.role')
            %th= t('.projects.time')
          - @scikon_profile.projects.each do |k, project|
            %tr
              %td= link_to(project.title, project.link)
              %td= t(['.projects.roles.', project.role].join(""))
              %td= "#{project.start} - #{project.end}"
        %br
        %br
        
      - if @scikon_profile.research_intentions.size > 1
        %h3
          = t('.research_intentions.title')
        %table
          %tr
            %th= t('.research_intentions.research_intention_link')
            %th= t('.research_intentions.role')
            %th= t('.research_intentions.time')
          - @scikon_profile.research_intentions.each do |k, research_intention|
            %tr
              %td= link_to(research_intention.title, research_intention.link)
              %td= t(['.research_intentions.roles.', research_intention.role].join(""))
              %td= "#{research_intention.start} - #{research_intention.end}"
        %br
        %br
            
      - if @scikon_profile.cv != ''
        %h3
          = t('.cv.title')
        .cv
          = @scikon_profile.cv
        %br
        %br
              
    #paginate
      %span.loader.hidden